<div >
    <div class="c-perfil ">
        <div class="row align-items-center c-perfil__row ">
            <div class="col-sm-2 col-md-2"> 
              <img class="rounded-circle" width="150px" height="150px" src="https://fotos.amomeupet.org/uploads/fotos/660x0_1568662224_5d7fe2d09bccd_hd.webp">
            </div>
            <div class="align-self-center col-sm-10 col-md-10 c-perfil__item">
                  <h1 class="display-4">Diego Augusto</h1>
                  <p class="lead">Coloque uma folha de papel sulfite no chão, de superfície plana e fixe com fita adesiva para que ela não saia do lugar.
                    Coloque uma folha de papel sulfite no chão, de superfície plana e fixe com fita adesiva para que ela não saia do lugar.
                    Coloque uma folha de papel sulfite no chão, de superfície plana e fixe com fita adesiva para que ela não saia do lugar.
                    Coloque uma folha de papel sulfite no chão, de superfície plana e fixe com fita adesiva para que ela não saia do lugar.
                    Coloque uma folha de papel sulfite no chão, de superfície plana e fixe com fita adesiva para que ela não saia do lugar.
                  </p>
            </div>
          </div>
    </div>
</div>