<div>
  <div class="c-perfil">
    <div class="d-flex justify-content-center row align-items-center">
      <div class="col-sm-1 col-md-1">
        <img
          class="rounded-circle c-perfil__imagem"
          src="https://fotos.amomeupet.org/uploads/fotos/660x0_1568662224_5d7fe2d09bccd_hd.webp"
        />
      </div>
      <div class="align-self-center col-sm-10 col-md-10 c-perfil__item">
        <h1 class="display-4">Diego Augusto</h1>
        <p class="lead">
          Me formei em Sistemas de Informação pela PUC Minas - Contagem no ano de 2017,
          estou na área de tecnologia há mais de 10 anos, trabalho com as linguagens Java, Angular JS, Flutter e Node JS.
          Atualmente, sou o líder de equipe em um projeto de sistema de consultoria e implementação de ISO's em empresas de médio e grande porte.
        </p>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="d-flex justify-content-center c-artigos">
    <div>
      <h1><b>Últimas do Blog</b></h1>
      <div *ngFor="let artigo of artigos" >
          <h3 class="c-artigos__titulo">{{artigo.titulo}}</h3>
          <p class="c-artigos__descricao">{{artigo.descricao}}</p>
      </div>
      <a href="" class="c-artigos__link">Ver tudo</a>
    </div>
  </div>
</div>
